body {
	margin: 0;
	padding: 0;	
}
.header {
	background:  #F9F9F9;
}

.container_header {
	display: flex;
	max-width: 1000px;
	margin: 0 auto;
}

.nav_list {
	display: flex;
	list-style: none;
}
.logo {
	margin-right: auto;
}

.nav {
	margin: auto 0;
}



.nav_item {
	margin-right: 42px;
}
.nav_link {
	text-decoration: none;
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 26px;
	letter-spacing: 0.1em;

	color: #000000;

	transform: rotate(0.58deg);
}
.hero_block_title {
	font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 48px;
line-height: 79px;
text-align: center;


color: #000000;

text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.logo {
 font-family: 'Revalia';
font-style: normal;
font-weight: 400;
font-size: 48px;
line-height: 60px;
/* identical to box height */

text-align: center;

color: #34547A;	
}
.nav_link {
	font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 26px;
letter-spacing: 0.1em;

/* Accent */

color: #34547A;
}
.hero_block_btn {
	font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 26px;
text-align: center;
letter-spacing: 0.1em;

color: #FFFFFF;
width: 225px;
height: 65px;
background: #34547A;
}
.container_hero_block {
	display: flex;
justify-content: space-around;
padding: 100px 0px;
background: #E4F1FF;
}
.about_discription {
	font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 32px;
line-height: 38px;
text-align: center;


color: #000000;
}
.skill_full {

}
.about_content {
	display: flex;
	justify-content: space-around;
}
.about_img {
	width: 674px;
height: 382px;
}
.footer_title {
font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 21px;
line-height: 25px;

color: #FFFFFF;
}
.footer_text {
font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 21px;
line-height: 25px;
}
.footer {
background: #34547A;
}
.container_footer {
display: flex;
justify-content: space-around;
align-items: center;
}
.footer_list {
list-style: none;
display: flex;
margin: 0;
padding: 0;
}
.about {
padding-top: 10;
padding-bottom: 10;
}
.video_title {
	text-align: center;
}
.video_text {
	text-align: center;
}
.item_gallery {
 list-style: none;	
}
.list_gallery { 
 margin: 0;
 padding: 0;
 display: flex;
 flex-wrap: wrap;
 }
 .youtube {
 	margin: 0 auto;
 	display: block;
 }
 .img_gallery {
 	width: 100%;
 }
 .item_gallery {
 	width: 33%;
 }